name: CI

on: push

jobs:
    Lint-Project:
      runs-on: ubuntu-latest
      steps:
       - uses: actions/checkout@v1
         with:
           fetch-depth: 50
       - name: Lint lua files
         uses: nebularg/actions-luacheck@v1
         with:
           config: https://gist.githubusercontent.com/peti446/d8fd2298d1db58191dc189f022624895/raw/6fb0108eb5a81aec673d2edf9fccb2b1e812f829/.luacheckrc
           args: "--no-color -q --no-self"
           annotate: warning
       - name: Create alpha package
         uses: BigWigsMods/packager@master
       - name: Upload alpha package to artifacts
         uses: actions/upload-artifact@v2
         with:
           name: SwitchSwitch.zip
           path: |
             .release/*
             !.release/*.zip
       - name: Remove old artifacts
         uses: c-hive/gha-remove-artifacts@v1
         with:
           age: '3 month'
           skip-tags: true
 
    Deploy-Packages:
      if: startsWith(github.ref, 'refs/tags/')
      runs-on: ubuntu-latest
      needs: Lint-Project
      steps:
       - uses: actions/checkout@v1
         with:
           fetch-depth: 50
       - name: Upload locales strings to CurseForge
         run: ./CurseForge_UpldateTranslations.sh
         env:
           CF_API_KEY: ${{ secrets.CF_API_KEY }}
       - name: Create and uploat to curseforge
         uses: BigWigsMods/packager@master
         env:
           CF_API_KEY: ${{ secrets.CF_API_KEY }}
           GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
